argdb/.ipynb*
argdb/*.ipynb
argdb/*.txt
app.py
docker-compose.yaml
build_deeparg_image.yaml
docs/_build
docs/_static
docs/_templates
*.pyc
/deeparg/short_reads_pipeline/bin/gg13/dataset*
docker-compose.yaml
data
DeepARG.egg-info
build
docker-compose.yaml
build_deeparg_image.yaml
dist
.DS_Store
.gitattributes
setup.cfg
run_test